@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;"></div>
    <div>
        <pre>
        Chào bạn!
            Bạn cần xác nhận địa chỉ em ail để hoàn thành đăng ký.
        Cảm ơn!
        Click<a href="@ViewBag.ConfirmationLink">Tại đây.</a>
    </pre>
    </div>
</body>
</html>
