
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;"></div>
    <div>
        <pre>
                   Vui lòng click vào xác nhận địa chỉ Email để hoàn thành đăng ký.
        Cảm ơn!
        <a href="@ViewBag.ConfirmationLink">Click tại đây</a>
    </pre>
    </div>
</body>
</html>
