@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Checkout Section Begin -->
<script src="https://code.jquery.com/jquery-1.10.2.js"
        integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
        crossorigin="anonymous"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

<div class="container" style="margin-top:10%" id="TaoMatKhau">
    <div class="row">
        <div class="col-md-6 col-md-offset-6 alert" style="margin-left:25%">
            <h3 class="text-center">Đăng ký lại mật khẩu</h3>
            <br/>
            <form id="loginForm" >
                @*<div id="msg"><ul style="color:red;"> Lỗi! Hai mật khẩu phải khớp nhau.</ul></div>*@
                @*<div id="msg1"><ul style="color:red;"> Không được bỏ trống.</ul></div>*@

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control" type="password" name="PasswordHash" id="PasswordHash" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required placeholder="Nhập mật khẩu mới" />
                    </div>
                </div>
                @*//Trường này không được bỏ trống*@
                <div id="msgPasswordHash1" @*class="modal"*@>
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove"></span><strong>Mật khẩu không được bỏ trống</strong>
                    </div>
                </div>
                @*MK phải bao gồm....*@
                <div id="msgPasswordHash2" @*class="modal*@">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove"></span><strong>Mật khẩu phải có ít nhất 8 ký tự, có ít nhất một chữ hoa (uppercase), và có ít nhất một chữ thường (lowercase). </strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control" type="password" name="PasswordHash" id="RePasswordHash" placeholder="Nhập lại mật khẩu mới" required />
                    </div>
                </div>
                @* Hai mật khẩu không khớp*@
                <div id="msgRePasswordHash1" @*class="modal*@">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove"></span><strong>Nhập lại mật khẩu không được bỏ trống</strong>
                    </div>
                </div>
                <div id="msgRePasswordHash2" @*class="modal"*@>
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove"></span><strong>Mật khẩu và nhập lại mật khẩu phải khớp nhau</strong>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <button class="btn btn-info form-control"  style="background-color:#7fad39" type="submit" onclick="GetPassword()"><i class="glyphicon glyphicon-registration-mark"></i> Xác nhận</button>
            </div>

        </div>

    </div>
</div>




<script>
    $("#msg").hide();
    $("#msgPasswordHash1").hide();
    $("#msgPasswordHash2").hide();
    $("#msgRePasswordHash1").hide();
    $("#msgRePasswordHash2").hide();
 //   $("#msg1").hide();
    function GetPassword() {
        var pwd = $("#PasswordHash").val();
        //var rpwd = $("#RePasswordHash").val();
        ////if (pwd=="") {
        ////    $("#msg1").show();
        ////    return;
        //if (pwd != rpwd || pwd=="") {
        //    $("#msg").show();
        //    return;
        //}
        //$("#msg").hide();
        //$("#msgPasswordHash1").hide();
        //$("#msgPasswordHash2").hide();
        //$("#msgRePasswordHash1").hide();
        //$("#msgRePasswordHash2").hide();
        var a = 1;
        if (document.getElementById('PasswordHash').validity.valueMissing) {
            document.getElementById('PasswordHash').style.borderColor = "red";
            $("#msgPasswordHash2").hide();
            $("#msgPasswordHash1").show();
            a = 0;
            //return false;
        }
        else {
            if (document.getElementById('PasswordHash').validity.patternMismatch) {
                document.getElementById('PasswordHash').style.borderColor = "red";
                $("#msgPasswordHash2").show();
                $("#msgPasswordHash1").hide();
                // return false;
                a = 0;
            }
            else {
                document.getElementById('PasswordHash').style.borderColor = "#CCCCCC";
                $("#msgPasswordHash2").hide();
                $("#msgPasswordHash1").hide();
            }
        }
        if (document.getElementById('RePasswordHash').validity.valueMissing) {
            document.getElementById('RePasswordHash').style.borderColor = "red";
            $("#msgRePasswordHash2").hide();
            $("#msgRePasswordHash1").show();
            a = 0;
            //return false;
        }
        else {
            if (document.getElementById('RePasswordHash').value != document.getElementById('PasswordHash').value) {
                document.getElementById('RePasswordHash').style.borderColor = "red";
                document.getElementById('PasswordHash').style.borderColor = "red";
                $("#msgRePasswordHash1").hide();
                $("#msgRePasswordHash2").show();

                // return false;
                a = 0;
            }
            else {
                document.getElementById('RePasswordHash').style.borderColor = "#CCCCCC";
                document.getElementById('PasswordHash').style.borderColor = "#CCCCCC";
                $("#msgRePasswordHash1").hide();
                $("#msgRePasswordHash2").hide();
            }
        }
            if (a == 0)
                return false;
         $.ajax({
            type: "post",
             url: "/Account/ResetPassword",
             data: { 'regId': '@ViewBag.regID','password':pwd},
             success: function (message) {
                 alert(message);
                 window.location.href = "/Account/Login";
            }

               })

    }
</script>
<!-- Checkout Section End -->
