
@{
    ViewBag.Title = "GetMoney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>@ViewBag.Info.FullName - Nạp tiền</h4>
            <form action="/ShoppingCart/GetMoney" method="post">
                @if (Session["Message"] != null)
                {
                    <h5 style="color:red">@Session["Message"]</h5>
                    Session["Message"] = null;
                }
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="checkout__input">
                                <table>
                                    <tr>
                                        <td>
                                            Chọn ngân hàng :
                                        </td>
                                        <td>
                                            Số tài khoản :
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select id="bank" name="bank" style="height:46px">
                                                <option value="Agribank">Ngân hàng Agribank</option>
                                                <option value="BIDV" selected>Ngân hàng BIDV</option>
                                                <option value="Vietcombank">Ngân hàng Vietcombank</option>
                                                <option value="DongABank">Ngân hàng DongABank</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" name="bankcode" required>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="checkout__input">
                                <b>Số tiền muốn nạp thêm :</b>
                                <input type="number" name="money" required>
                            </div>
                            <button type="submit" class="site-btn">Nạp</button>
                            <a href="/ShoppingCart/MyAccount" class="site-btn">Về tài khoản</a>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h3>Cách chuyển tiền từ tài khoản ngân hàng :</h3>
                            <p>B1: Chọn ngân hàng của bạn<br/>B2: Nhập số tài khoản ngan hàng của bạn<br/>B3: Nhập số tiền bạn muốn chuyển vào tài khoản<br/>B4: Hệ thống sẽ tạo ra 1 đoạn mã cho yêu cầu nạp tiền<br/>B5: Một yêu cầu chuyển tiền sẽ được gửi đến cho tài khoản<br/>B6: Chủ sở hữu tài khoản nhập đoạn mã xác nhận<br/>B7: Admin xác nhận quy trình chuyển khoản<br/>B8: Chuyển tiền đến tài khoản của bạn</br></p>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
